@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #000;
  --primary-text-color: #ffffff;
  --secondary-color: #ffffff;
  --secondary-text-color: #000;
}

body {
  background: var(--primary-color);
  color: var(--primary-text-color);
  font-family: Arial, Helvetica, sans-serif;
}
